@use 'w3.css';

#result {
  > :not(ins):not(del) {
    background-color: #cfc !important;
  }

  > ins {
    background-color: #ffc !important;
  }

  > del {
    background-color: #fcc !important;
  }
}

span[role="status"].sent-status {
  @extend .w3-tag;
  @extend .w3-round;
  
  &.sent {
    background-color: #7c7 !important;
  }

  &:not(.sent) {
    background-color: #c77 !important;
  }
}

main {
  @extend .w3-mobile;
}

section {
  @extend .w3-round;
  @extend .w3-margin;
  @extend .w3-padding;
  @extend .w3-border;
}

iframe {
  width: 100%;
  border: none;
}
