@use 'w3.css';

#result {
  > :not(ins):not(del) {
    background-color: #cfc !important;
  }

  > ins {
    background-color: #ffc !important;
  }

  > del {
    background-color: #fcc !important;
  }
}

main {
  @extend .w3-mobile;
}

section {
  @extend .w3-round;
  @extend .w3-margin;
  @extend .w3-padding;
  @extend .w3-border;
}
